.site {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5% 20%;
  text-align: center;
}

.impagecontainer {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .impagecontainer {
    margin: 5%;
  }
}
