.AgrCreditContainer{
    margin-top: 50px;
}

.explanContent{
    margin: 2% 8%;
}

.explanContent h2{
    color: #1d8179;
    margin-bottom: 10px;
}


.methodContent{
    margin: 2% 8%;
}


.methodContent h2{
    color: #1d8179;
    margin-bottom: 10px;
}
