.FocaseSection {
  background-color: #153b41;
  padding: 8% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.ForcaseImage {
  text-align: center;
}

.featureContent {
  padding: 5% 10% 0% 0%;
  font-size: 15px;
}

.ForumSection {
  padding: 8% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ForumImage {
  text-align: center;
}

.RickSection {
  padding: 10%;
  background-color: #153b41;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.Disclaimer {
  /* background-color:#BAF2B6; */
}

.Disclaimer p {
  font-size: 10px;
  padding: 2%;
}

@media screen and (max-width: 640px) {
  .FocaseSection {
    padding: 8% 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .ForcaseImage img {
    width: 350px;
  }

  .featureContent {
    padding: 2% 5% 0% 0%;
    font-size: 20px;
  }

  .ForumSection {
    padding: 8% 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .RickSection {
    padding: 10%;
    background-color: #153b41;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
