.formcontainer {
  max-width: 50%;
  margin: 3% auto;
  padding: 3%;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(160, 160, 160, 0.6);
  background-color: rgb(160, 160, 160, 0.6);
  text-align: center;
  margin-top: 8%;
  color: white;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1535379453347-1ffd615e2e08?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80");
  height: 100%;
  margin: 0;
  padding: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .formcontainer {
    max-width: 95%;
    margin: 10% auto;
    font-size: 15px;
  }
}
